.footer__column-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.footer__column-link:hover {
  opacity: .5;
}
