.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  z-index: -1;
  /* Добавила позицию. выше установили ограничения для секции */
}

.logo {
  width: 183px;
  height: 32px;
  z-index: 0;
}

.logo_place_header {
   top: 30px;
   left: 64px;
   position: absolute;

   border: solid red;
}

.header__title {
    width: 730px;
    height: 210px;
    left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: 550;
    position: absolute;
    margin: auto;
    border: solid red;
    z-index: 2;
}

.header__subtitle {
    width: 400px; /* Чуть увеличила также ка макетее */
    left: 64px;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    z-index: 3;

}

.header__link {
  color:#2f80ed;;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  order: 2;
  z-index: 3;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  background-color: #2f80ed;
  z-index: 1;

  border: solid red; /*remove!*/
}

.description {
  min-width: 784px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;

  border: solid red; /*remove!*/
}

.description__two-columns {
  width: 80%;
  padding: 100px 0;
  display: flex;

  border: solid red; /*remove!*/
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;

  border: solid red; /*remove!*/
}

.two-columns__main-text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

  border: solid red; /*remove!*/
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  min-width: 784px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 100px 0;
  border: solid orange; /*remove!*/
  min-height: 600px;

}
.section-title {
  width: 60%;
  line-height: 1.15;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  margin: auto;
  padding: 0;
  position: absolute;

  border: solid red; /*remove!*/
}

.section-subtitle {
  line-height: 34px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: normal;
  position: absolute;

  border: solid red; /*remove!*/
}

.table {
  display: flex;
  flex-flow: column wrap;
  margin-top: 60px;
  justify-content: space-around;
  width: 1100px;
  margin: 60px auto 100px;
  position: absolute;



  border: solid red; /*remove!*/
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  text-align: left;
  font-size: 18px;
  font-weight: normal;

  border: solid rgb(0, 255, 234); /*remove!*/
}






























/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
